<!DOCTYPE HTML>
<html>
<head>
	<meta charset ="UTF-8">
	<title>The Cats Page</title>
	<link rel="stylesheet" href="application.css">
</head>
<body>
	<h1>Cats</h1>
	
	<% cat_images.each do |cat_image| %>
		<p><img src="<%= cat_image %>" alt="<%= cat_image%>"></p>
	<% end %>
	

		
	<p id ='drop'>I was never a cat person, but seeing these cats makes me reconsider.</p>
</body>
</html>
