<!DOCTYPE html>
<!--A gallery page -->
<html>
<head>
	<meta charset="UTF-8">
	<title>My Web Gallery</title>
	<link rel="stylesheet" href="application.css">
</head>
<body>
	<h1>A Photo galery application</h1>
	<div id="introduction">Below are a list of galleries that contain images of animals.</div>
<h2>Galleries</h2>
<div id="galleries">
	<ul>
<% @galleries.each do | gallery| %>
<li><a href="/<%= gallery.name.downcase %>"><%= gallery.name %></a></li>
<%end%>

</ul>
</div>
</body>
</html>