<!DOCTYPE html>
<!--A gallery page -->
<html>
<head>
	<meta charset="UTF-8">
	<title>My Web Gallery</title>
	<link rel="stylesheet" href="application.css">
</head>
<body>
	<h1>A photo gallery application</h1>
	<div id="introduction">Below are a list of galleries that contain images of animals.</div>

<h2>Galleries</h2>

<div id="galleries">
	<a href="/gallery/new">New Gallery</a></p>
	<ul>
<% @galleries.each do |gallery_item| %>
<li><a href="/galleries/<%= gallery_item.id %>"><%= gallery_item.name %></a></li>
<%end%>

</ul>
</div>
</body>
</html>