<!DOCTYPE html>
<!--A gallery page -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Create New Gallery</title>
	<link rel="stylesheet" href="application.css">
</head>
<body>
	<h2>New Gallery</h2>
	<form method = "POST" action="/galleries">
		<label for ="gallery_name">Gallery name:</label>
		<input id="gallery_name" type ="text" name="gallery[name]">
		<input type="submit" value="Create gallery">
		</form>


</body>
</html>